/* src/assets/main.css */

:root {
    /* Color scheme */
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #f4f4f4;
    --font-color: #333;
    --font-color-light: #555;
    --border-color: #e0e0e0;
    --hover-color: #f8f8f8;
    --active-color: #e8e8e8;
  
    /* Typography */
    --font-family-base: 'Roboto', sans-serif;
    --font-family-alt: 'Arial', sans-serif;
    --base-font-size: 1em;
    --heading-font-size: 2.5em;
    --sub-heading-font-size: 1.5em;
  }
  
  body {
      font-family: var(--font-family-base);
      background-color: var(--background-color);
      color: var(--font-color);
      margin: 0;
      padding: 0;
      font-size: var(--base-font-size);
      line-height: 1.6;
  }
  
/* Header Global Styles */

h1 {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    color: #34495e;
    margin-bottom: 18px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #5a7391;
    margin-bottom: 16px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    color: #7f8c8d;
    margin-bottom: 14px;
    font-weight: bold;
}

h5 {
    font-size: 18px;
    color: #95a5a6;
    margin-bottom: 12px;
    font-weight: normal;
}

h6 {
    font-size: 16px;
    color: #bdc3c7;
    margin-bottom: 10px;
    font-weight: normal;
}

/* If you want to add a general line-height to headers */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

  
  a {
      text-decoration: none;
      color: var(--primary-color);
      transition: color 0.3s;
  }
  
  a:hover {
      color: var(--secondary-color);
  }
  
  button {
    width: 25%;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Adding spacing between buttons */
    display: block; /* Making sure they take the full line */
    margin-left: auto; /* Centering buttons */
    margin-right: auto; /* Centering buttons */
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.95);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1.25s;
  }
  .fade-enter-from, .fade-leave-to {
    opacity: 0;
  }  